.chats {
    margin-top: 30px;
}
.chatBtn {
    height: 400px;
    width: 400px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #1C2833;
    color: whitesmoke;
}
.chatBtn:hover {
    background-color: whitesmoke;
    color: #1C2833;
}
.firstContainer {
    background-color: red;
}
.chatContainer {
    margin-top: 70px;
    height: 600px;
    overflow: auto;
    border: 1px solid gray;
    border-radius: 10%;
    background-color: #EBF5FB;
    word-wrap: break-word;
}
.myMsg {
    background-color: mediumturquoise;
    width: 300px;
    font-size: 20px;
    border: 1px solid transparent;
    border-radius: 10%;
    padding-left: 10px;
    padding-right: 10px;
}
.newMsg {
    background-color: lime;
    width: 300px;
    font-size: 20px;
    border: 1px solid transparent;
    border-radius: 5%;
    padding-left: 10px;
    padding-right: 10px;
}
.test  {
    background-color: gainsboro;
    height: 800px;
    opacity: 0.4;
}